# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

data/raw/*
!data/raw/.gitkeep

.env